.shdAlert {
    width: 100%;
    padding: calc(1.5 * var(--shd-baseline));
    border: var(--shd-border);
    border-radius: var(--shd-border-radius-size);
}

.shdAlert > h2 {
    font-size: calc(1.125 * var(--shd-font-size));
    margin: 0 0 var(--shd-baseline);
}

.shdAlert > p {
    margin-bottom: 0;
}

.shdAlert.primary {
    border-color: var(--shd-primary-dark);
    background-color: var(--shd-primary-alpha);
}

.shdAlert.secondary {
    border-color: var(--shd-secondary-dark);
    background-color: var(--shd-secondary-alpha);
}

.shdAlert.success {
    border-color: var(--shd-success-dark);
    background-color: var(--shd-success-alpha);
}

.shdAlert.error {
    border-color: var(--shd-error-dark);
    background-color: var(--shd-error-alpha);
}

.shdAlert.warning {
    border-color: var(--shd-warning-dark);
    background-color: var(--shd-warning-alpha);
}

.shdAlert.info {
    border-color: var(--shd-info-dark);
    background-color: var(--shd-info-alpha);
}