.shdButton {
	height: var(--shd-base-height);
	font-family: inherit;
	font-size: var(--shd-font-size);
	padding: var(--shd-padding);
	border: var(--shd-border);
	border-color: transparent;
	border-radius: var(--shd-border-radius-size);
	cursor: pointer;
	outline: none;
	background-color: transparent;
	color: var(--shd-dark);
}

.shdButton:disabled,
.shdButton.disabled {
	pointer-events: none;
	cursor: not-allowed;
	opacity: .5;
}

.shdButton.transparent {
    border-color: transparent;
    background-color: transparent;
    color: var(--shd-dark);
}

.shdButton.light {
	border-color: var(--shd-border-color);
	background-color: var(--shd-light);
}

.shdButton.light:focus,
.shdButton.light:active,
.shdButton.light:hover,
.shdButton.light.active {

	background-color: var(--shd-active);
}

.shdButton.secondary {
	border-color: var(--shd-secondary);
	background-color: var(--shd-secondary);
	color: var(--shd-light);
}

.shdButton.secondary:focus,
.shdButton.secondary:active,
.shdButton.secondary:hover,
.shdButton.secondary.active {
	border-color: var(--shd-secondary-dark);
	background-color: var(--shd-secondary-dark);
	color: white;
}

.shdButton.primary {
	border-color: var(--shd-primary);
	background-color: var(--shd-primary);
	color: var(--shd-light);
}

.shdButton.primary:focus,
.shdButton.primary:active,
.shdButton.primary:hover,
.shdButton.primary.active {
	border-color: var(--shd-primary-dark);
	background-color: var(--shd-primary-dark);
	color: white;
}

.shdButton.success {
	border-color: var(--shd-success);
	background-color: var(--shd-success);
	color: var(--shd-light);
}

.shdButton.success:focus,
.shdButton.success:active,
.shdButton.success:hover,
.shdButton.success.active {
	border-color: var(--shd-success-dark);
	background-color: var(--shd-success-dark);
	color: white;
}

.shdButton.error {
	border-color: var(--shd-error);
	background-color: var(--shd-error);
	color: var(--shd-light);
}

.shdButton.error:focus,
.shdButton.error:active,
.shdButton.error:hover,
.shdButton.error.active {
	border-color: var(--shd-error-dark);
	background-color: var(--shd-error-dark);
	color: white;
}

.shdButton.warning {
	border-color: var(--shd-warning);
	background-color: var(--shd-warning);
	color: var(--shd-light);
}

.shdButton.warning:focus,
.shdButton.warning:active,
.shdButton.warning:hover,
.shdButton.warning.active {
	border-color: var(--shd-warning-dark);
	background-color: var(--shd-warning-dark);
	color: white;
}