.shdCollapsible {
	width: 100%;
	margin: calc(.5 * var(--shd-baseline)) 0;
	border-radius: var(--shd-border-radius-size);
	background-color: white;
}

.shdCollapsible > summary {
    border-radius: var(--shd-border-radius-size);

    display: flex;
    align-items: center;

    height: var(--shd-base-height);
	overflow: hidden;
	cursor: pointer;
	padding: var(--shd-padding);

    background-size: calc(.3 * var(--shd-base-height));
    background-position: center right calc(.5 * var(--shd-baseline));
    background-repeat: no-repeat;
    background-image: url(../res/img/plus.svg);
}

.shdCollapsible > summary > i {
    font-size: calc(1.25 * var(--shd-font-size));
    margin-right: calc(.5 * var(--shd-baseline));
}

.shdCollapsible[open] > summary {
    font-weight: bold;
    border-radius: var(--shd-border-radius-top);
    background-image: url(../res/img/minus.svg);
}

.shdCollapsible > summary { list-style-type: none; } /* Firefox */
.shdCollapsible > summary::-webkit-details-marker { display: none; } /* Edge Chromium */
.shdCollapsible > summary::marker { display: none; } /* Chrome */