.shdRow {
	display: flex;
	flex-flow: row wrap;
    margin: var(--shd-baseline);
}

.shdCol {
	display: flex;
	flex-flow: column;
	margin: calc(.25 * var(--shd-font-size));
}

.shdRow > .shdRow {
	margin: calc(.25 * var(--shd-font-size));
}

.w-auto { width: auto; }
.w-1 { width: calc(8.333333333333334% - .5 * var(--shd-font-size)); }
.w-2 { width: calc(16.666666666666668% - .5 * var(--shd-font-size)); }
.w-3 { width: calc(25% - .5 * var(--shd-font-size)); }
.w-4 { width: calc(33.333333333333336% - .5 * var(--shd-font-size)); }
.w-5 { width: calc(41.666666666666664% - .5 * var(--shd-font-size)); }
.w-6 { width: calc(50% - .5 * var(--shd-font-size)); }
.w-7 { width: calc(58.333333333333336% - .5 * var(--shd-font-size)); }
.w-8 { width: calc(66.66666666666667% - .5 * var(--shd-font-size)); }
.w-9 { width: calc(75% - .5 * var(--shd-font-size)); }
.w-10 { width: calc(83.33333333333333% - .5 * var(--shd-font-size)); }
.w-11 { width: calc(91.66666666666667% - .5 * var(--shd-font-size)); }
.w-12 { width: calc(100% - .5 * var(--shd-font-size)); }

.left { margin-right: auto; }
.center { margin-left: auto; margin-right: auto; }
.right { margin-left: auto; }

.shdRow.al-top { align-items: flex-start; }
.shdRow.al-middle { align-items: center; }
.shdRow.al-bottom { align-items: flex-end; }

.shdRow.al-left { justify-content: flex-start; }
.shdRow.al-center { justify-content: center; }
.shdRow.al-right { justify-content: flex-end; }

.shdCol.al-top { justify-content: flex-start; }
.shdCol.al-middle { justify-content: center; }
.shdCol.al-bottom { justify-content: flex-end; }

.shdCol.al-left { align-items: flex-start; }
.shdCol.al-center { align-items: center; }
.shdCol.al-right { align-items: flex-end; }

/* MOBILE */
@media screen and (max-width: 720px)
{
	.shdRow {
		flex-direction: column;
	}

	.shdCol {
		width: 100% !important;
	}
}