.shdView body {
    min-height: 100vh;
}

.shdView header {
	position: fixed;
	top: 0;
	left: 0;
	height: var(--shd-base-height);
	width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;

    border-bottom: var(--shd-border-primary);
    padding: 0 var(--shd-padding-h);
    
    background-color: var(--shd-primary);
    color: white;

    z-index: var(--z-index-header);
}

.shdView header nav {
    height: 100%;
}

.shdView header nav ul {
    list-style: none;
    display: flex;
    height: 100%;
    margin: 0;
}

.shdView nav .shdMenu {
    height: 100%;
    padding: 0 var(--shd-padding-h);
}

.shdView nav .shdMenu:hover,
.shdView nav .shdMenu:focus {
    background-color: var(--shd-primary-dark);
    text-decoration: underline;
    box-shadow: none !important;
}

.shdView header .shdMenu.open,
.shdView header .shdMenu[aria-current=true] {
    background-color: var(--shd-primary-dark);
}

.shdView header * {
    background-color: inherit;
    color: inherit;
}

.shdView header .shdButton {
    padding-top: 0;
    padding-bottom: 0;
    font-size: calc(1.25 * var(--shd-baseline));
}

.shdView main {
	min-height: calc(100vh - 2 * var(--shd-base-height));
    margin-top: var(--shd-base-height);
   
    padding: calc(.5 * var(--shd-base-height)) var(--shd-baseline);
    background-color: var(--shd-light);
}

.shdView footer {
	grid-area: footer;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	display: flex;
	background-color: var(--shd-light);
	padding: var(--shd-padding-v) calc(2 * var(--shd-padding-h));
}

/* BREADCRUMB */
.shdBreadcrumb > ol {
	list-style: none;
	padding: 0;
    margin: 0;
}

.shdBreadcrumb > ol > li {
	display: inline;
    color: var(--shd-dark);
}

.shdBreadcrumb > ol > li:not(:last-child)::after {
	content: "  / ";
    white-space: pre;
    color: var(--shd-muted);
}