*, *::after, *::before {
	box-sizing: border-box;
}

:focus {
	outline: none;
}

:focus:not(:disabled):not(.disabled):not([aria-disabled=true]) {
	border-color: transparent;
	box-shadow: 0 0 .15rem .1rem var(--shd-primary);
}

pre, code, var {
	font-style: normal;
	font-family: var(--shd-font-family-mono);
}

a:link {
	color: var(--shd-primary);
}

a:visited {
	color: var(--shd-primary-dark);
}

html, body {
	overflow-x: hidden;
	min-height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
}

html {
	-moz-osx-font-smoothing: grayscale;
  	-webkit-font-smoothing: antialiased;
}

body {
	font-family: var(--shd-font-family-serif);
	font-size: var(--shd-font-size);
	line-height: var(--shd-line-height);
	font-weight: 400;
	color: var(--shd-dark);
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 500;
	margin-top: 0;
	margin-bottom: var(--shd-baseline);
	line-height: calc(var(--shd-line-height) / 2);
}

strong, b, th {
	font-weight: 500;
}

small {
	font-size: calc(.85 * var(--shd-font-size));
}

h6 { font-size: var(--shd-baseline); }
h5 { font-size: calc(1.25 * var(--shd-baseline)); }
h4 { font-size: calc(1.5 * var(--shd-baseline)); }
h3 { font-size: calc(1.75 * var(--shd-baseline)); }
h2 { font-size: calc(2 * var(--shd-baseline)); }
h1 { font-size: calc(2.5 * var(--shd-baseline)); }

th, td {
	padding: 0 var(--shd-padding-h);
	text-align: left;
}

.sr-only,
.sr-focus-only {
	position: relative;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

.sr-focus-only:focus {
	display: block;
}

.ck-editor {
    border-radius: var(--shd-border-radius-size);
}

/* 
	--BUG
	On firefox, text with font-weight=500 is rendered as normal text
	--WORKAROUND
	Setting font-weight=600 makes font bold
*/
@-moz-document url-prefix() {

	h1,h2,h3,h4,h5,h6,
	strong, b, th {
		font-weight: 600 !important;
	}
}