@import "variables.css";
@import "reset.css";
@import "flex.css";
@import "text.css";
@import "table.css";
@import "collapsible.css";
@import "buttons.css";
@import "alert.css";

@import "../plugins/form.css";
@import "../plugins/menu.css";
@import "../plugins/datepicker.css";
@import "../plugins/radiogroup.css";
@import "../plugins/checkbox.css";
@import "../plugins/dropdown.css";
@import "../plugins/fileinput.css";
@import "../plugins/datatable.css";

.border {
    border: var(--shd-border);
}

.border-radius-bottom {
    border-radius: var(--shd-border-radius-bottom);
}

.padding {
    padding: var(--shd-padding);
}

.shdCard {
	background-color: white;
	border-radius: var(--shd-border-radius-size);
	border: var(--shd-border);
}

.shdCard__header {
    padding: var(--shd-padding-v) calc(2 * var(--shd-padding-h));
}

.shdCard__header .shdCard__title {
    margin: 0;
    font-size: calc(1.25 * var(--shd-font-size));
}

.shdCard__body {
    padding: var(--shd-padding-v) calc(2 * var(--shd-padding-h));
}
.sr-only,
.sr-focus-only:not(:focus) {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.sr-focus-only:focus {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    overflow: auto;
    clip: unset;
    height: auto;
    width: auto;
    background-color: var(--shd-primary-dark);
    border: var(--shd-border) !important;
    border-color: black;
    color: white;
    padding: var(--shd-padding-big);
    z-index: var(--z-index-skip);
    box-shadow: none !important;
}

.shdTicketList {
    list-style: none;
    padding-inline-start: 0;
}

.shdTicketList--item {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-template-areas: "code object object object object"
                         "dates dates dates dates operator";
}

.shdTicketList--item strong {
    grid-area: object;
}

.shdTicketList--item__code {
    font-family: var(--shd-font-family-mono);
    grid-area: code;
}

.shdTicketList--item__operator {
    grid-area: operator;
}

.shdTicketList--item__dates {
    grid-area: dates;
}