.shdTable {
    width: 100%;
    margin: var(--shd-baseline) 0;
    border-spacing: 0;
    border: var(--shd-border);
    border-radius: var(--shd-border-radius-size);
}

.shdTable tr th:not(:last-child),
.shdTable tr td:not(:last-child) {
    border-right: var(--shd-border);
}

.shdTable tr:last-child td:first-child {
    border-bottom-left-radius: var(--shd-border-radius-size);
}

.shdTable tr:last-child td:last-child {
    border-bottom-right-radius: var(--shd-border-radius-size);
}

.shdTable th,
.shdTable td {
    height: var(--shd-base-height);
}

.shdTable tr:nth-child(even) th,
.shdTable tr:nth-child(even) td {
    background-color: var(--shd-light);
}