.text-primary { color: var(--shd-primary); }
.text-success { color: var(--shd-success); }
.text-warning { color: var(--shd-warning); }
.text-error { color: var(--shd-error); }
.text-info { color: var(--shd-info); }
.text-secondary { color: var(--shd-secondary); }
.text-light { color: var(--shd-light); }
.text-dark { color: var(--shd-dark); }
.text-muted { color: var(--shd-muted); }

.text-bold {font-weight: bold; }

.text-monospaced {font-family: var(--shd-font-family-mono); }

.lead {
	font-weight: 300;
	font-size: 1.75em;
}

.bg-primary { background-color: var(--shd-primary); }
.bg-success { background-color: var(--shd-success); }
.bg-warning { background-color: var(--shd-warning); }
.bg-error { background-color: var(--shd-error); }
.bg-info { background-color: var(--shd-info); }
.bg-secondary { background-color: var(--shd-secondary); }
.bg-light { background-color: var(--shd-light); }
.bg-dark { background-color: var(--shd-dark); }
.bg-muted { background-color: var(--shd-muted); }