:root {
	--shd-primary: #ff9600;
	--shd-primary-alpha: #ff9600e6;
	--shd-primary-light: #ffa711;
	--shd-primary-dark: #ee8500;
	--shd-success: #55dd55;
	--shd-success-alpha: #55dd55e6;
	--shd-success-light: #66ee66;
	--shd-success-dark: #44cc44;
	--shd-error: #dd5555;
	--shd-error-alpha: #dd5555e6;
	--shd-error-light: #ee6666;
	--shd-error-dark: #cc4444;
	--shd-warning: #ddcf55;
	--shd-warning-alpha: #ddcf55e6;
	--shd-warning-light: #eedf66;
	--shd-warning-dark: #ccbe44;
    --shd-info: #2eb0eb;
    --shd-info-alpha: #2eafeb86;
    --shd-info-light: #3fc1fc;
    --shd-info-dark: #1da0da;
	--shd-dark: #252525;
	--shd-light: #f9f9f9;
	--shd-active: #f0f0f0;
	--shd-muted: #858585;
	--shd-muted-light: #efefef;
	--shd-secondary: #8e8e8e;
	--shd-secondary-alpha: #8e8e8ee6;
	--shd-secondary-light: #9f9f9f;
	--shd-secondary-dark: #7d7d7d;

	--shd-baseline: 1rem;
	--shd-base-height: calc(2 * var(--shd-baseline));

	--shd-font-size: var(--shd-baseline);
	--shd-line-height: 1.5;
	--shd-font-family-serif: system-ui, -apple-system, BlinkMacSystemFont, 
							"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
							"Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;

	--shd-font-family-mono: Consolas, ui-monospace, "Source Code Pro", "Courier New", monospace;

	--shd-border-radius-size: calc(.25 * var(--shd-baseline));
	--shd-border-radius-top: var(--shd-border-radius-size) var(--shd-border-radius-size) 0 0;
	--shd-border-radius-bottom: 0 0 var(--shd-border-radius-size) var(--shd-border-radius-size);
	--shd-border-radius-right: 0 var(--shd-border-radius-size) var(--shd-border-radius-size) 0;
	--shd-border-radius-left: var(--shd-border-radius-size) 0 0 var(--shd-border-radius-size);
	--shd-border-size: .1rem;
	--shd-border-color: #dadada;
	--shd-border: var(--shd-border-size) solid var(--shd-border-color);
    --shd-border-error: var(--shd-border-size) solid var(--shd-error);
	--shd-border-primary-light: var(--shd-border-size) solid var(--shd-primary-light);

	--shd-padding-v: .25rem;
	--shd-padding-h: .5rem;
	--shd-padding: var(--shd-padding-v) var(--shd-padding-h);
    --shd-padding-big: calc(2 * var(--shd-padding-v)) calc(2 * var(--shd-padding-h));

    --z-index-dropdown: 2;
    --z-index-header: 3;
    --z-index-menu: 3;
    --z-index-skip: 4;
}